﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="KoCaRaBa.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h3>Dynamic Shopping Website</h3>
    <p>Komeil</p>
    <p>Carmina</p>
    <p>Alex</p>
    <p>Babin</p>
</asp:Content>
