﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Foods.aspx.cs" Inherits="KoCaRaBa.Foods" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">


    <div class="row" style="padding-top:20px">





        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <asp:Image ID="image1" runat="server"  ImageUrl="" Height="150px" Width="275px" />

                              &nbsp;<div class="caption">

                    <h4 class="pull-rcd ight">
                        <asp:Label ID="price" runat="server" Text="Price"></asp:Label></h4>
                    <h4><a href="#">
                        <asp:Label ID="name" runat="server" Text="Name"></asp:Label></a>                                </h4>
                    <p>
                        <asp:Label ID="description" runat="server" Text="Description"></asp:Label>
                    </p>
                </div>




                 <div class="container-fluid">
                             
                    <asp:Button ID="Button1" class="btn btn-info"  runat="server" Text="Add" OnClick="Button1C" />

                      &nbsp;
  
                      <asp:DropDownList class="form-control" ID="drop" runat="server">
                          <asp:ListItem>1</asp:ListItem>
                          <asp:ListItem>2</asp:ListItem>
                          <asp:ListItem>3</asp:ListItem>
                          <asp:ListItem>4</asp:ListItem>
                          <asp:ListItem>5</asp:ListItem>
                            </asp:DropDownList>

                    </div>

                </div>

            </div>




        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">



                &nbsp;
                <asp:Image ID="image2" runat="server"  ImageUrl="" Height="150px" Width="275px" />
                <div class="caption">
                    <h4 class="pull-rcd ight">
                        <asp:Label ID="price2" runat="server" Text="Price"></asp:Label></h4>
                    <h4><a href="#">
                        <asp:Label ID="name2" runat="server" Text="Name"></asp:Label></a>                                </h4>
                    <p>
                        <asp:Label ID="description2" runat="server" Text="Description"></asp:Label>
                    </p>
                </div>





                <div class="container-fluid">
                    <asp:Button ID="Button2" class="btn btn-info"  runat="server" Text="Add" OnClick="Button2C" />

                      &nbsp;
  
                      <asp:DropDownList class="form-control" ID="drop2" runat="server">
                          <asp:ListItem>1</asp:ListItem>
                          <asp:ListItem>2</asp:ListItem>
                          <asp:ListItem>3</asp:ListItem>
                          <asp:ListItem>4</asp:ListItem>
                          <asp:ListItem>5</asp:ListItem>
                            </asp:DropDownList>
                    </div>

                </div>

          

        </div>





        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>



    </div>







</asp:Content>
