﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="FruitsVegetables.aspx.cs" Inherits="KoCaRaBa.FruitsVegetables" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <div style="padding-top:15px">

    <asp:Label ID="tbls" runat="server" Text="Name"></asp:Label>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <asp:Label ID="name" runat="server" Text="Price"></asp:Label>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <asp:Label ID="rows" runat="server" Text="Price"></asp:Label>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 

    <asp:Label ID="rows2" runat="server" Text="Price"></asp:Label>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

         <asp:Label ID="product" runat="server" Text="Price"></asp:Label>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <asp:Button ID="Button1" runat="server" Text="Get Data" />

        </div>

</asp:Content>
